.cartView {
    display: flex;
    border-bottom: 1px solid gray;
    max-width: 15%;
    margin: 1rem auto;
    background-color: black;

}

.imagen-cart {
    width: 12%;
    margin-top: 7px;
    border-style:groove;
}
.eliminar-producto{
    border-radius: 25px;
}