.flex-container{
    display:grid;
    width: 100%;
    height: auto;
    flex-direction: row;
    grid-template-columns: 55ch 55ch 55ch;
    grid-template-rows: auto;
    row-gap: 12ch;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 25px;
  
}
.texto{
  
text-align: center;
   font-weight: bold;
   font-size: 250px;


}

.loading{
  
   display: inline-block;
    justify-content: center;
    text-align: center;
    font-size: large;
    align-items: center;
}