


a{
    padding: 8px;
    text-decoration: none;
    color: rgb(224, 216, 216);
    position: relative;
    font-family: 'poppins', sans-serif;
    
}
    

a:hover{
    background-color: rgb(114, 106, 106);
    border-radius: 5px;
    padding: 8px;
}
