.footer{
    margin-top: 4rem;
    margin-bottom: 5px;
    padding: 25px;
    background-color:rgb(43, 35, 35);
    color: white;

}
.facebook{
    color: rgb(101, 101, 223);
    margin: 5px;
}
.instagram {
    color:rgb(117, 54, 54);
    margin: 5px;
}
.whatsapp{
    color: green;
    margin: 5px;
}
.texto{
    text-align: center;
    font-size: 17px;
}
.p{
    text-align: center;
    font-size: small;

}